* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f3f3f3;
    padding: 20px;
    color: #333;
}

header {
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
    background: #f3f3f3;
}

nav {
    position: relative;
<<<<<<< HEAD
    
=======
     /* Добавляем для flex-контейнера */
>>>>>>> dd64a0b6aa1b53727bc286561deadb4b860cdbbd
    justify-content: space-between;
}

nav {
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-container {
    flex-grow: 2;
=======
    justify-content: space-between; /* Это разместит элементы (меню и кнопку) по краям контейнера */
    align-items: center;
    width: 100%; /* Добавили выравнивание по вертикали */
}

.menu-container {
    flex-grow: 2; /* Это позволит меню занимать всё доступное пространство */
>>>>>>> dd64a0b6aa1b53727bc286561deadb4b860cdbbd
    text-align: center;
}

.menu {
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; 
    }

.menu li {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
    margin: 10px;
}



#registerBtn {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
<<<<<<< HEAD
    
=======
>>>>>>> dd64a0b6aa1b53727bc286561deadb4b860cdbbd
    background-color: #ff6347; 
    color: white; 
    padding: 20px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease; 
}


#registerBtn:hover {
    background-color: #ff7f50; 
}
section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  section * {
    margin-top: 20px;
    margin-bottom: 20px;
  }
#главная{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url(../img/fonari_lampochki_girliandy_197553_1280x720.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
#главная h1{
    font-size: 50px;
}
#главная p{
    width: 500px;
    font-size: 20px;
    padding: 30px 30px;
    text-align: center;
    font-weight: 600;
    
    
}

#уроки li{
    list-style-type: none;
}
#уроки h2{
    font-size: 40px;
}
#контакты li{
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}
nav ul li a:hover {
    color: #f00;      
}
section {
    margin-bottom: 40px;
    padding: 20px;
    background: white;
    border-radius: 4px;
}

#уроки ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
.reviews-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; 
  }
  
  .review-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
    padding: 10px;
    width: 30%; 
    text-align: center;
    margin: 10px; 
    max-width: calc(100% / 3 - 20px); 
    background-color: #f5f5f5;
  }
  
  .review-card .review-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
    
  }
  
  .lessons-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    flex: 0 1 calc(100% - 20px);
    margin: 10px;
    box-sizing: border-box;
}
.lessons-content h3 {
    margin-top: 0;
  }
  
  .lessons-content img {
    width:290px;
    height: 290px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  @media (min-width: 480px) { 
    
    .lessons-content {
        flex: 0 1 calc(50% - 20px);
    }
}

@media (min-width: 768px) { 
    
    .lessons-content {
        flex: 0 1 calc(33.33% - 20px);
    }
}

@media (max-width: 480px) {
    
    #уроки {
        justify-content: center;
    }

    .lessons-content {
        flex: initial;
        width: 100%;
        height: auto;
    }
}


.отзывы-h2{
    text-align: center;
    font-size: 28px;
}
#контакты{
    text-align: center;
}
.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: start; 
}

<<<<<<< HEAD
#контакты h2{
    font-size: 28px;
}

=======
>>>>>>> dd64a0b6aa1b53727bc286561deadb4b860cdbbd
.contact-item {
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px);
}

@media (max-width: 768px) { 
    .contacts-container {
       flex-direction: column;
       align-items: center;
    }
    
    .contact-item {
        flex: 1 1 100%;
    }
}
  
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: red; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-size: 30px;
}

.btn:hover {
    background: darkred; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); 
    animation: fadeIn 0.5s ease; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
<<<<<<< HEAD
    min-height: 300px; 
    overflow-y: auto;
=======
>>>>>>> dd64a0b6aa1b53727bc286561deadb4b860cdbbd
    animation: slideIn 0.5s ease; 
    text-align: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.3s ease; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    transition: transform 0.3s ease; 
}

.close {
    margin-left: auto;
    padding: 10px; 
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal.active {
    display: block;
    opacity: 1; 
}

.modal-content.active {
    transform: translateY(0); 
}

.modal.inactive {
    opacity: 0; 
    pointer-events: none; 
}

.modal-content.inactive {
    transform: translateY(-50px); 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.switcher {
    display: flex; 
    align-items: baseline;
    justify-content: space-between;
    position: relative; 
    width: 100%;
    margin-bottom: 20px; 
}

.switcher a {
    
    color: #333;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    font-size: 20px;
}

.switcher a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: blue; 
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease; 
}

nav ul {
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin-right: 0px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #f00;
}

.nav-link:hover::after {
    width: 100%;
}

.separator{
    font-weight: 600;
    margin: 0 5px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    margin-bottom: 10px; 
    border-radius: 15px; 
    padding: 5px; 
    border: 2px solid #ff6347; 
    height: 40px; 
    font-size: 16px;
    width: 50%;
    text-align: center;
    outline: none;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.form-container form {
    display: none;
<<<<<<< HEAD
    transition: opacity 0.3s ease;
=======
    transition: opacity 0.3s ease; /* Добавляем переход для свойства opacity */
>>>>>>> dd64a0b6aa1b53727bc286561deadb4b860cdbbd
}

.reg-butt{
    background-color: #ff6347; 
    color: white; 
    padding: 7px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
}

.log-butt{
    background-color: #ff6347; 
    color: white; 
    padding: 7px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
}

.form-container form.active {
    display: block;
    opacity: 1;
<<<<<<< HEAD
}

#link-bio{
    text-decoration: none;
    outline: none;
    color: black;
    transition: color 0.3s ease;
}

#link-bio:hover{
    color: #fc4747;
}

.logout-btn{
    text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: black;
}

.logout-btn:hover{
        background-size: 100% 2px;
      
=======
>>>>>>> dd64a0b6aa1b53727bc286561deadb4b860cdbbd
}