* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d1d1d1;
    color: #333;
}

header {
    background-color: #8bc1fc;
    color: white;
    padding: 20px;
    
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #8bc1fc;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.profile-info {
    width: 30%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
}


.profile-info h2 {
    margin-bottom: 10px;
}

.user-info p {
    margin-bottom: 5px;
    font-size: 20px;
}

.user-info strong {
    font-weight: bold;
}


.user-avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
    
}


#changeAvatarBtn {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 10px;
}

#changeAvatarBtn:hover {
    background-color: #0056b3; 
}

#changeUsernameBtn{
    margin-top: 10px;
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#changeUsernameBtn:hover {
    background-color: #0056b3; 
}

#goback{
    text-decoration: none;
    outline: none;
    color: black;
    transition: color 0.3s ease;
    font-weight: 600;
}

#goback:hover{
    color: #f71e1e;
}
.course-info{
    margin-top: 50px;
}




.course-container-base {
    background: linear-gradient(135deg, var(--gradient-start-color), var(--gradient-end-color));
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto; /* Добавлено для выравнивания по центру */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    --gradient-start-color: #3498db;
    --gradient-end-color: #8e44ad;
}

.course-container-middle {
    --gradient-start-color: #e74c3c;
    --gradient-end-color: #9b59b6;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto; /* Добавлено для выравнивания по центру */
    border-radius: 10px;
    background: linear-gradient(135deg, var(--gradient-start-color), var(--gradient-end-color));
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.course-container-ugl {
    --gradient-start-color: #1abc9c;
    --gradient-end-color: #f39c12;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto; /* Добавлено для выравнивания по центру */
    border-radius: 10px;
    background: linear-gradient(135deg, var(--gradient-start-color), var(--gradient-end-color));
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.course-container p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 15px;
}

.course-container h2 {
    margin-top: 0;
    font-size: 30px;
}

.course-container a {
    display: inline-block;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.course-container a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
